body {
    background: rgb(56, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Header */
header {
    background: rgb(56, 54, 54);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.icon {
    width: 60%;
}

audio {
    border: 1px solid grey;
    border-radius: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover {
    color: grey;
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: right;
    width: 47%;
}

header nav ul li {
    list-style: none;
    margin: 0 20px 0 0;
}

/* Style for the fixed navbar after scrolling */
.fixed-navbar {
    position: fixed;
    top: 0;
    width: 95%;
    align-items: center;
    margin: 0.3rem;
    border-radius: 1.5rem;
    background-color: rgb(56, 54, 54);
    color: #fff;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.fixed-navbar ul li a {
    font-size: 1.5rem;
}

footer {
    background: rgb(56, 54, 54);
    color: grey;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

.email {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 54, 54);
}

.subcontain {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.subcontain:nth-child(2) {
    flex-direction: row-reverse;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 2rem;
    width: auto;
    color: white;
    margin-top: 100px;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 2rem;
    width: auto;
    color: white;
}

.image2 {
    margin-top: 40px;
    width: auto;
}

.image {
    margin-top: 80px;
    width: auto;
}

.container img {
    max-width: 400px;
    border-radius: 8px;
}

.indexbody {
    max-width: 100%;
}

.demos {
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.studio {
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    max-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.studio img {
    margin-left: 15px;
    max-width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.demostudio {
    display: inline-flex;
    width: 100%;
}

.studioimage {
    margin-bottom: 2%;
}

.studiotext {
    margin-top:2%;
    margin-left: 9px;
    font-size: 18px;
    text-align: center;
}

.photo-reel-container {
    width: 100%;
    /* Set your desired width */
    overflow: hidden;
    padding: 0px;
    box-shadow: inset 15px 0 10px rgba(0, 0, 0, 0.5), inset -15px 0 10px rgba(0, 0, 0, 0.5);
}

.photo-reel {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    animation: scroll 20s linear infinite;

}

.photo {
    display: inline-block;
    margin: 10px;
    flex: 0 0 300px;
    height: 200px;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-290%);
    }
}

.recentroles {
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.role-container {
    display: inline-flex;
}

.role {
    width: 320px;
    padding: 10px;
    text-align: center;

}

.role img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.exampleroles {
    margin-top: 50px;
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.video-role-container {
    display: inline-flex;
}

.roleyt {
    margin: 50px 50px 50px 50px;
}

.roleyt audio {
    margin-top: 50px;
}

.Contact-Section {
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    margin: 20px;
    width: 100%;
}

.contactimage img {
    width: 100%;
}

.contact-section {
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(235, 234, 234);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}

.contact-section li {
    margin-bottom: 10px;
    text-align: center;
}

.contact-section strong {
    font-weight: bold;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
}

.download-button:hover {
    background-color: rgb(66, 66, 66);
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    .subcontain {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .subcontain:nth-child(2) {
        flex-direction: column;
    }

    .demos {
        width: fit-content;
    }

    .studio {
        width: 100%;
    }

    .studio img {
        margin-left: 0px;
        max-width: 100%;
    }

    .text1 {
        margin-top: 60px;
    }

    .text2 {
        margin: 0px;
    }

    .image {
        margin-top: 0px;
    }

    .image2 {
        margin-top: 0px;
    }

    .rolemp4 {
        margin: 0px;
    }

    .roleyt {
        margin: 50px;
    }

    .roleyt audio {
        margin-top: 0px;
    }

    .role-container {
        display: block;
    }

    .role {
        width: 100%;
    }

    .role img {
        width: 100%;
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-380%);
        }
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
    }
    .container img{
        width: 100%;
    }
    .icon{
        width: 100%;
    }
    .icon a {
        font-size: 2rem;       
    }

    .demos {
        width: 100%;
    }

    .studio {
        width: 100%;
    }
    .demostudio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .studio img {
        margin-left: 0px;
        max-width: 100%;
    }
    header nav ul{
        display: none;
        width: 0%;
    }
    .text1 {
        margin: 0px;
    }
    .text2{
        margin: 0px;
    }

    .image {
        margin-top: 0px;
    }

    .image2 {
        margin-top: 0px;
    }

    .rolemp4 {
        margin: 0px;
    }

    .roleyt {
        margin: 0px;
    }

    .roleyt audio {
        margin-top: 0px;
    }

    .role {
        width: 100%;
    }
    .exampleroles {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .video-role-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .role img {
        width: 100%;
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-590%);
        }
    }
}

@media screen and (max-width: 500px) {
    body {
        margin: 0;
        margin-top: 50px;
    }

    .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
    }

    .subsubcontain {
        display: block;
    }

    .photo-reel-container {
        margin: 1rem 0;
    }

    .demostudio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .demos {
        width: 100%;
        padding: 5px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .studio {
        width: 100%;
        padding: 5px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon a {
        font-size: 1.5rem;
    }

    .studio img {
        margin-left: 0px;
        max-width: 100%;
    }

    .text {
        margin: 0 0 10px 0;
        padding: 10px;
    }

    .text h2 {
        font-size: 2.5rem;
    }

    .image {
        margin-top: 0px;
    }

    .image2 {
        margin-top: 0px;
    }

    .exampleroles {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .rolemp4 {
        margin: 0px;
    }

    .roleyt {
        margin: 0px;
        height: fit-content;
    }

    iframe {
        aspect-ratio: 16/9;
    }

    .roleyt audio {
        margin-top: 0px;
    }

    .role-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .role {
        width: fit-content;

    }

    .role img {
        width: 100%;
    }

    .video-role-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .rolemp4 {
        margin: 0;
    }

    .roleyt iframe {
        width: 100%;
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-940%);
        }
    }

}